<haro>
  <config name="HookDeltaXMultiplier" value="0.0003" />
  <config name="HookDeltaYMultiplier" value="0.0003" />
	<config name="HookDampening" value="0.95" />
  <config name="CameraSpeedMultiplier" value="0.03" />
  <config name="CameraMinY" value="-180.0" />

  <config name="WaterDepth" value="1400.0" />
  
  <config name="Fish00Value" value="5" />
  <config name="Fish00Speed" value="0.5" />
  <config name="Fish00HookPulseRate" value="700" />
  <config name="Fish00HookPulseStrength" value="1.0" />
  <config name="Fish00Density" value="6" />
  <config name="Fish00Pickyness" value="0" />
  
  <config name="Fish01Value" value="10" />
  <config name="Fish01Speed" value="0.5" />
  <config name="Fish01HookPulseRate" value="500" />
  <config name="Fish01HookPulseStrength" value="2.0" />
  <config name="Fish01Density" value="5" />
  <config name="Fish01Pickyness" value="0" />
  
  <config name="Fish02Value" value="20" />
  <config name="Fish02Speed" value="0.6" />
  <config name="Fish02HookPulseRate" value="500" />
  <config name="Fish02HookPulseStrength" value="2.3" />
  <config name="Fish02Density" value="4" />
  <config name="Fish02Pickyness" value="1" />

  <config name="Fish03Value" value="40" />
  <config name="Fish03Speed" value="0.6" />
  <config name="Fish03HookPulseRate" value="500" />
  <config name="Fish03HookPulseStrength" value="3.4" />
  <config name="Fish03Density" value="4" />
  <config name="Fish03Pickyness" value="1" />

  <config name="Fish04Value" value="80" />
  <config name="Fish04Speed" value="0.7" />
  <config name="Fish04HookPulseRate" value="500" />
  <config name="Fish04HookPulseStrength" value="3.5" />
  <config name="Fish04Density" value="3" />
  <config name="Fish04Pickyness" value="2" />

  <config name="Fish05Value" value="160" />
  <config name="Fish05Speed" value="1.0" />
  <config name="Fish05HookPulseRate" value="500" />
  <config name="Fish05HookPulseStrength" value="3.6" />
  <config name="Fish05Density" value="2" />
  <config name="Fish05Pickyness" value="2" />

  <config name="Fish06Value" value="320" />
  <config name="Fish06Speed" value="1.0" />
  <config name="Fish06HookPulseRate" value="500" />
  <config name="Fish06HookPulseStrength" value="5.0" />
  <config name="Fish06Density" value="1" />
  <config name="Fish06Pickyness" value="3" />

  <config name="Fish07Value" value="1000" />
  <config name="Fish07Speed" value="0.0" />
  <config name="Fish07HookPulseRate" value="33" />
  <config name="Fish07HookPulseStrength" value="0.3" />
  <config name="Fish07Density" value="1" />
  <config name="Fish07Pickyness" value="0" />
  
  <config name="Rod00Power" value="0.2" />
  <config name="Rod00PriceLevel" value="0" />
  <config name="Rod01Power" value="0.32" />
  <config name="Rod01PriceLevel" value="1" />
  <config name="Rod02Power" value="0.45" />
  <config name="Rod02PriceLevel" value="3" />
  <config name="Rod03Power" value="0.65" />
  <config name="Rod03PriceLevel" value="5" />
  <config name="Rod04Power" value="0.75" />
  <config name="Rod04PriceLevel" value="7" />

  <config name="Lure00Power" value="0" />
  <config name="Lure00PriceLevel" value="0" />
  <config name="Lure01Power" value="1" />
  <config name="Lure01PriceLevel" value="2" />
  <config name="Lure02Power" value="2" />
  <config name="Lure02PriceLevel" value="4" />
  <config name="Lure03Power" value="3" />
  <config name="Lure03PriceLevel" value="6" />
  

  <config name="Reel00Power" value="0.1" />
  <config name="Reel00PriceLevel" value="0" />
  <config name="Reel01Power" value="0.15" />
  <config name="Reel01PriceLevel" value="3" />
  <config name="Reel02Power" value="0.2" />
  <config name="Reel02PriceLevel" value="6" />
  
  
</haro>
